.top-container{
    background-color: blue;
    border: solid 10px;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.middle-container{
    background-color: red;
    border: solid 20px;
    width: 200px;
    height: 200px;
    position: relative;
    left: 260px;
}

.bottom-container{
    background-color: yellow;
    border: solid 10px;
    width: 200px;
    height: 200px;
    position: relative;
    left: 500px;
}
